body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#pinContainer {
    width: 100%;
    height: 100vh; /* Użyj viewport height */
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

#slideContainer {
    width: 400%; /* 4 sekcje */
    height: 100%;
}

.panel {
    height: 100%;
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.blue {
    background: #00bfff;
}
.turqoise {
    background: #40e0d0;
}
.green {
    background: #3cb371;
}
.bordeaux {
    background: #800020;
}
