body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #ffddb8;
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}
p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
img {
    width: 512px;
    height: 512px;
}
